* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

@font-face {
    font-family: custom;
    src: url(resources/fonts/PlaywriteGBS-VariableFont_wght.ttf);
}

/*Background Image */
.banner {
    background-image: linear-gradient(19deg, #21D4FD 0%, #4326c9 100%);
    background-attachment: fixed;

}

/* top div styles*/
.top {
    background: rgba(0, 0, 0, 0.288);
    width: 100%;
    margin: auto;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.top ul li {
    list-style: none;
    display: inline-block;
    margin: 1vw;
    color: white;
    position: relative;
}

.top ul li a {
    text-decoration: none;
    color: white;

}

.top ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: linear-gradient(to right, rgba(0, 183, 255, 0.452), rgb(111, 0, 255));
    position: absolute;
    left: 0;
    bottom: -0.5vh;
    transition: 0.25s;
}

.top ul li:hover::after {
    width: 100%;
}

.edits_icon {
    height: 50px;
    width: 50px;
    float: right;
}

.box {
    background: linear-gradient(45deg, rgba(136, 136, 136, 0.555) 0%, rgba(192, 156, 211, 0.555) 100%);
    border-radius: 25px;
    padding: 2vh;
    margin: 1vh;
}
.right-box {
    display: inline-block;
    vertical-align: top;
}
.headings {
    font-weight: bold;
    color: #1a2c48;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.headings:hover {
    color: white;
    transition: 0.25s;
    font-size: 180%;
}

.para {
    font-family: custom;
    font-size: 110%;
    color: rgb(255, 255, 255);
    margin-left: 4vw;
    margin-right: 4vw;

}

.para li {
    font-family: custom;
    margin-left: 4vw;
}

.sideimg {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-left: 1vw;
    float: right;
}

.sideimg:hover {

    transition: 0.25s;
    border-radius: 30px;
}

.sideimg2 {
    width: 50%;
    height: 50%;
    border-radius: 100px;
    margin-left: 30px;
    margin-right: 10px;
}

.sideimg2:hover {
    transition: 0.25s;
    border-radius: 30px;
}

/* Basic styling for video */
.hover-video {
    width: 100vw;
    height: 100vh;
    transition: 0.3s;
}

/* When hovering, play the video */
.hover-video:hover {
    animation-play-state: running;
}